---
import horarios from "../../../public/image/horarios.svg";
import clock from "../../../public/image/clock.svg";
import speaker from "../../../public/image/speaker.svg";
import bell from "../../../public/image/bell.svg";
import { Image } from '@astrojs/image/components';
const arrayFeature=[
    {
        id:1,
        title:"horarios",
        href:'/horarios',
        img:clock,
        class:'bg-gradient-to-tr from-blue-400/40 via-blue-500 to-blue-400/80 '
    },
    {
        id:2,
        title:"servicios",
        img:speaker,
        class:'bg-gradient-to-tr from-cyan-400/40 via-cyan-500 to-cyan-400/80'
       },   {
        id:3,
        title:"Actividades",
        img:bell,
        class:'bg-gradient-to-tr from-yellow-400/40 via-yellow-500 to-yellow-400/80 '
    }
]
---


<div class="mx-auto container flex flex-row items-center my-16 justify-evenly gap-4 px-5 md:px-0 md:gap-20 text-right z-20 relative">
{arrayFeature.map((feat)=>(
     <a 
     href={feat.href}     
     class={`${feat.class} group backdrop-blur-sm p-5 h-48 rounded-lg w-4/12 md:w-3/12 shadow-lg overflow-hidden duration-200 hover:scale-105  hover:shadow-xl hover:-translate-y-1 cursor-pointer text-gray-100 font-bold text-3xl`}   >
        <h2 class="uppercase md:text-xl text-lg group-active:text-2xl group-active:tracking-widest group-hover:text-2xl  duration-300 group-hover:underline group-hover:text-gray-200 group-hover:tracking-widest">{feat.title}</h2>
       <Image 
       class="-rotate-45 md:-translate-y-3 group-hover:-rotate-[55deg] group-active:-rotate-[55deg]  duration-150"
       alt={feat.title}
        width={200}
        height={200}
        src={feat.img}
         />
    </a>
    
))}
</div>